html,
body,
#__next {
	height: 100%;
	width: 100%;
	margin: 0;
}

/**
 * Hack to not show toolbars on mosaic
 */
.no-toolbar .mosaic-window-toolbar {
	display: none;
}

.align-center {
	align-items: center;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.margin-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
