html,
body,
#__next {
	height: 100%;
	width: 100%;
	margin: 0;
}

iframe {
	border: 0;
}

/**
 * Hack to hide toolbars on mosaic windows.
 */
.no-toolbar .mosaic-window-toolbar {
	display: none;
}

.align-center {
	align-items: center;
}

.container {
	max-width: 640px !important;
}

.hide {
	display: none;
}

.flex {
	display: flex;
}

.flex-grow-no-basis {
	flex-grow: 1;
	flex-basis: 0;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: end;
}

.space-between {
	justify-content: space-between;
}

.margin-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.text-center {
	text-align: center;
}
